/* desktop and tablet */
@media (orientation: landscape) and (min-height: calc( 580px + 1px)) , (orientation: portrait) and ( min-width: calc( 580px + 1px) ) {
    .planboardViewBG {
        display: inline-block;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(164deg, lightsalmon, skyblue); /* color4test */
    }    
}

/* smartphone in portrait */
@media all and (orientation: portrait) and (max-width: 580px) {
    .planboardViewBG {
        display: inline-block;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(164deg, lightsalmon, lightsalmon); /* color4test */

    }   
}

/* smartphone in landscape */
@media all and (orientation: landscape) and ( max-height: 580px ) {
    .planboardViewBG {
        display: inline-block;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(164deg, lightsalmon, lightgreen); /* color4test */
    }   
}