/* desktop and tablet */
@media (orientation: landscape) and (min-height: calc( 580px + 1px)) , (orientation: portrait) and ( min-width: calc( 580px + 1px) ) {
    .loginViewBG {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: linear-gradient(164deg, #316d7b, skyblue);
        /* background: linear-gradient(164deg, white, skyblue); /* color4test */
        padding: 10px;
    }

    .registerButtonContainer {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .registerSideText {
        margin-right: 10px;
        font-weight: 500;
        color: white;
        text-shadow: 1px 1px 5px black;
    }

    .formContainer {
        width: 400px;
        max-height: calc( 100% - 12px );
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* background: darkturquoise; /* color4test */
        /* animation: cardAni 1s; */
    }

    .filitimeLogo {
        /* width: 111px; */
        height: 111px;
        /* margin-left: calc( ( 100% - 111px ) / 2 ); */
        margin-left: calc( ( 100% - 111px - 220px ) / 2 );
        overflow: hidden;
        /* animation: logoAni 1s; */
    }
      
    .form {
        width: 100%;
        margin-top: 65px;
    }
    
    .form-element {
        /* padding: 5px 0px 25px 2px; */
        width: 100%;
    }

    .submitError {
        margin-top: 5px;
    }
    
    .wideButton {
        margin-top: 20px;
        width: 100%;
    }
    
    @keyframes logoAni {
        0% { 
            opacity: 0.6;
            transform: scale(0) rotate(270deg);
            margin-left: calc( ( 100% - 111px ) / 2 );
            width: 111px;
        }
        30% {
            opacity: 1;
            transform: scale(1) rotate(0);
            margin-left: calc( ( 100% - 111px ) / 2 );
            width: 111px;
        }
        60% {
            opacity: 1;
            transform: scale(1) rotate(0);
            margin-left: calc( ( 100% - 111px - 220px ) / 2 );
            width: 111px;
        }
        61% {
            opacity: 1;
            transform: scale(1) rotate(0);
            margin-left: calc( ( 100% - 111px - 220px ) / 2 );
            width: unset;
        }
        100% {
            opacity: 1;
            transform: scale(1) rotate(0);
            margin-left: calc( ( 100% - 111px - 220px ) / 2 );
            width: unset;
        }
    }
    
    @keyframes cardAni {
        0% {
            max-height: 144px;
        }
        45% {
            max-height: 144px;
        }
        100% {
            max-height: 500px;
        }
    }
}

/* smartphone in portrait */
@media all and (orientation: portrait) and (max-width: 580px) {
    .loginViewBG {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: linear-gradient(164deg, #a7e3ff, #e6f5fb)
        /* background: linear-gradient(164deg, white, lightsalmon); /* color4test */
    }

    .registerButtonContainer {
        position: absolute;
        right: 6px;
        top: 6px;
    }

    .registerSideText {
        margin-right: 10px;
        font-weight: 500;
        color: white;
        text-shadow: 1px 1px 5px black;
    }

    .formContainer {
        width: 100%;
        height: calc( 100% - 65px );
        overflow: hidden;
        position: absolute;
        top: 65px;
        /* background: darkturquoise; /* color4test */
        /* animation: cardAni 1s; */
    }

    .filitimeLogo {
        /* width: 111px; */
        height: 111px;
        /* margin-left: calc( ( 100% - 111px ) / 2 ); */
        margin-left: calc( ( 100% - 111px - 220px ) / 2 );
        overflow: hidden;
        /* animation: logoAni 1s; */
    }

    .form {
        width: 100%;
        padding: 65px 17px 0px 17px;
    }

    .form-element {
        width: 100%;
    }

    .submitError {

    }

    .wideButton {
        margin-top: 20px;
        width: 100%;
    }

    .resetPwButton {
        position: absolute;
        left: 6px;
        bottom: 6px;
    }

    @keyframes logoAni {
        0% { 
            opacity: 0.6;
            transform: scale(0) rotate(270deg);
            margin-left: calc( ( 100% - 111px ) / 2 );
            width: 111px;
        }
        30% {
            opacity: 1;
            transform: scale(1) rotate(0);
            margin-left: calc( ( 100% - 111px ) / 2 );
            width: 111px;
        }
        60% {
            opacity: 1;
            transform: scale(1) rotate(0);
            margin-left: calc( ( 100% - 111px - 220px ) / 2 );
            width: 111px;
        }
        61% {
            opacity: 1;
            transform: scale(1) rotate(0);
            margin-left: calc( ( 100% - 111px - 220px ) / 2 );
            width: unset;
        }
        100% {
            opacity: 1;
            transform: scale(1) rotate(0);
            margin-left: calc( ( 100% - 111px - 220px ) / 2 );
            width: unset;
        }
    }
    
    @keyframes cardAni {}
}

/* smartphone in landscape */
@media all and (orientation: landscape) and ( max-height: 580px ) {
    .loginViewBG {
        display: inline-block;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(164deg, white, lightgreen); /* color4test */
        padding: 10px;
    }
}