<mat-card *ngIf="currMode == 'registerEmployee'" class="formContainer">
    <mat-card-content>
        <div class="filitimeLogo">
            <img height="111px" src="../../assets/animatedLogo/logo.png" alt="FiliTime Logo">
            <img height="111px" src="../../assets/animatedLogo/label.png" alt="FiliTime Logo">
        </div>
        <form [formGroup]="formGroup" (ngSubmit)="checkEmployeeMail()" class="form">
            <mat-form-field class="form-element">
                <input matInput placeholder="E-Mail-Adresse" formControlName="email">
                <!-- <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                            {{ getErrorEmployeeEmail() }}
                        </mat-error> -->
            </mat-form-field>
            <div class="form-element">
                <button mat-raised-button class="backButton" (click)="changeMode('register')">zurück</button>
                <button *ngIf="currMode == 'registerEmployee'" mat-raised-button type="submit" style="float: right;"
                    class="nextButton">weiter</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>