<div class="background">
    <app-time-axis></app-time-axis>
    <div id="employeeColumnContainer">
        <ng-container *ngFor="let employeeDocId of employeeDocIdsTD; let i = index;">
            <app-employee-column [style.width.%]="100 / employeeDocIdsTD.length"
                (assignmentClick)="onAssignmentClicked($event)" [employeeDocId]="employeeDocId" [employeeName]="employeeNamesTD[i]"
                [editAssignmentModeActive]="editAssignmentModeActive"></app-employee-column>
        </ng-container>
    </div>
</div>