.fillParent {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.background {
    width: 100%;
    height: 100%;
    /* background: darkgreen; /* color4test */
}

app-time-axis {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 136px;
    /* background: yellow; /* color4test */
}

#employeeColumnList {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: calc( 100% - 136px );
    /* background: blueviolet; /* color4test */
}

.employeeColumnContainer {
  display: inline-block;
  position: relative;
  height: 100%;
}

app-employee-column {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
    /* background: rosybrown; /* color4test */
}

.drag-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}
