<ng-container *ngIf="!isMobile">
    <div class="navigatorViewBG">
        <mat-drawer-container class="example-container" autosize>
            <mat-drawer mode="side" opened disableClose>
                <div class="example-container2">
                    <div *ngIf="!colapsed" class="expandLogoContainer">
                        <h2>FT FiliTime</h2>
                    </div>
                    <div *ngIf="!!colapsed" class="colapsedLogoContainer">
                        <h2>FT</h2>
                    </div>
                    <button mat-flat-button class="example-container2-button" disableRipple routerLink="/planboard"
                        routerLinkActive="active" (click)="navigatorPageIndex=0">
                        <mat-icon>format_paint</mat-icon>{{(!colapsed)?'Plantafel':''}}
                    </button>
                    <div *ngIf="!colapsed && navigatorPageIndex===0" class="example-container3">
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=0">Option1</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=0">Option2</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=0">Option3</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=0">Option4</button>
                    </div>
                    <button mat-flat-button class="example-container2-button" disableRipple routerLink="/projects"
                        routerLinkActive="active" (click)="navigatorPageIndex=1">
                        <mat-icon>format_paint</mat-icon>{{(!colapsed)?'Projekte':''}}
                    </button>
                    <div *ngIf="!colapsed && navigatorPageIndex===1" class="example-container3">
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=1">Option1</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=1">Option2</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=1">Option3</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=1">Option4</button>
                    </div>
                    <button mat-flat-button class="example-container2-button" disableRipple routerLink="/employees"
                        routerLinkActive="active" (click)="navigatorPageIndex=2">
                        <mat-icon>format_paint</mat-icon>{{(!colapsed)?'Mitarbeiter':''}}
                    </button>
                    <div *ngIf="!colapsed && navigatorPageIndex===2" class="example-container3">
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=2">Option1</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=2">Option2</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=2">Option3</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=2">Option4</button>
                    </div>
                    <button mat-flat-button class="example-container2-button" disableRipple routerLink="/analysis"
                        routerLinkActive="active" (click)="navigatorPageIndex=3">
                        <mat-icon>format_paint</mat-icon>{{(!colapsed)?'Auswertung':''}}
                    </button>
                    <div *ngIf="!colapsed && navigatorPageIndex===3" class="example-container3">
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=3">Option1</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=3">Option2</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=3">Option3</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=3">Option4</button>
                    </div>
                    <button mat-flat-button class="example-container2-button" disableRipple routerLink="/profile"
                        routerLinkActive="active" (click)="navigatorPageIndex=4">
                        <mat-icon>format_paint</mat-icon>{{(!colapsed)?'Profil':''}}
                    </button>
                    <div *ngIf="!colapsed && navigatorPageIndex===4" class="example-container3">
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=4">Option1</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=4">Option2</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=4">Option3</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=4">Option4</button>
                    </div>
                    <button mat-flat-button class="example-container2-button" disableRipple routerLink="/lizenz"
                        routerLinkActive="active" (click)="navigatorPageIndex=5">
                        <mat-icon>format_paint</mat-icon>{{(!colapsed)?'Lizenz':''}}
                    </button>
                    <div *ngIf="!colapsed && navigatorPageIndex===5" class="example-container3">
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=5">Option1</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=5">Option2</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=5">Option3</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=5">Option4</button>
                    </div>
                    <button mat-flat-button class="example-container2-button" disableRipple routerLink="/help"
                        routerLinkActive="active" (click)="navigatorPageIndex=6">
                        <mat-icon>format_paint</mat-icon>{{(!colapsed)?'Hilfe':''}}
                    </button>
                    <div *ngIf="!colapsed && navigatorPageIndex===6" class="example-container3">
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=6">Option1</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=6">Option2</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=6">Option3</button>
                        <button mat-flat-button class="example-container3-button" disableRipple
                            (click)="navigatorPageIndex=6">Option4</button>
                    </div>
                    <button mat-flat-button class="example-container2-button" disableRipple (click)="logoutClicked()">
                        <mat-icon>format_paint</mat-icon>{{(!colapsed)?'Logout':''}}
                    </button>
                    <button mat-flat-button class="example-container3-bottomButton" (click)="colapsed=!colapsed">
                        <mat-icon *ngIf="!colapsed" class="example-container3-bottomButtonIcon">chevron_left</mat-icon>
                        <mat-icon *ngIf="!!colapsed" class="example-container3-bottomButtonIcon">chevron_right
                        </mat-icon>
                    </button>
                </div>
            </mat-drawer>
            <mat-drawer-content>
                <div *ngIf="!isMobile" class="example-container4" [@routeAnimation]=prepareRoute(outlet)>
                    <router-outlet *ngIf="!isMobile" #outlet="outlet"></router-outlet>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</ng-container>
<ng-container *ngIf="isMobile && isLandscape">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Mitarbeiter</span>
        <button mat-button class="optionsButton" [matMenuTriggerFor]="beforeMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item>Option 1</button>
            <button mat-menu-item>Option 2</button>
            <button mat-menu-item>Option 3</button>
            <button mat-menu-item>Option 4</button>
        </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container class="content">
        <mat-sidenav #snav mode="over">
            <mat-nav-list>
                <a mat-list-item routerLink="/planboard" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Plantafel
                </a>
                <a mat-list-item routerLink="/projects" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Projekte
                </a>
                <a mat-list-item routerLink="/employees" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Mitarbeiter
                </a>
                <a mat-list-item routerLink="/analysis" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Auswertung
                </a>
                <a mat-list-item routerLink="/profile" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Profil
                </a>
                <a mat-list-item routerLink="/lizenz" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Lizenz
                </a>
                <a mat-list-item routerLink="/help" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Hilfe
                </a>
                <a mat-list-item (click)="logoutClicked()">
                    <mat-icon>format_paint</mat-icon>Logout
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="isMobile && isLandscape" class="routerOutlet" [@routeAnimation]=prepareRoute(outlet)>
                <router-outlet *ngIf="isMobile && isLandscape" #outlet="outlet"></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>
<ng-container *ngIf="isMobile && !isLandscape">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Mitarbeiter</span>
        <button mat-button class="optionsButton" [matMenuTriggerFor]="beforeMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item>Option 1</button>
            <button mat-menu-item>Option 2</button>
            <button mat-menu-item>Option 3</button>
            <button mat-menu-item>Option 4</button>
        </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container class="content">
        <mat-sidenav #snav mode="over">
            <mat-nav-list>
                <a mat-list-item routerLink="/planboard" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Plantafel
                </a>
                <a mat-list-item routerLink="/projects" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Projekte
                </a>
                <a mat-list-item routerLink="/employees" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Mitarbeiter
                </a>
                <a mat-list-item routerLink="/analysis" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Auswertung
                </a>
                <a mat-list-item routerLink="/profile" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Profil
                </a>
                <a mat-list-item routerLink="/lizenz" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Lizenz
                </a>
                <a mat-list-item routerLink="/help" routerLinkActive="active" (click)="snav.toggle()">
                    <mat-icon>format_paint</mat-icon>Hilfe
                </a>
                <a mat-list-item (click)="logoutClicked()">
                    <mat-icon>format_paint</mat-icon>Logout
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div  *ngIf="isMobile && !isLandscape" class="routerOutlet" [@routeAnimation]=prepareRoute(outlet)>
                <router-outlet  *ngIf="isMobile && !isLandscape" #outlet="outlet"></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>