/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "cmdt.css";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

app-root,
app-navigator,
app-login,
app-loading-screen,
app-planboard-view,
app-project-view,
app-employee-view,
app-analysis-view,
app-profile-view,
app-lizenz-view,
app-help-view {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

app-login, app-loading-screen {
    position: absolute;
    top: 0;
    left: 0;
}

app-login {
    z-index: 1900;
}

app-loading-screen {
    z-index: 2000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
